{% extends 'base2.html' %}
{% block content %}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4>Generate Monthly Payroll</h4>
        </div>

        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                <label class="form-label fw-bold">Select Month</label>
                <input type="month" name="month" class="form-control" required>

                <button class="btn btn-success mt-3 px-4">Generate</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
