{% extends 'base2.html' %}
{% block content %}

<h2 class="mt-4">✏️ Edit Homework</h2>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <label>Title</label><br>
  <input type="text" name="title" class="form-control" value="{{ hw.title }}"><br>

  <label>Description</label><br>
  <textarea name="description" class="form-control">{{ hw.description }}</textarea><br>

  <label>Subject</label><br>
  <input type="text" name="subject" class="form-control" value="{{ hw.subject }}"><br>

  <label>Homework File</label><br>
  {% if hw.homework_file %}
      <a href="{{ hw.homework_file.url }}" 
        target="_blank"
        class="btn btn-sm btn-outline-success rounded-pill px-3 mb-2">
        📎 Current File
    </a><br>
  {% endif %}
  <input type="file" name="homework_file" class="form-control mb-3"><br>

  <label>Due Date</label><br>
  <input type="date" name="due_date" class="form-control" value="{{ hw.due_date|date:'Y-m-d' }}"><br><br>

  <button type="submit" class="btn btn-success">Update Homework</button>
</form>

{% endblock %}
